body{
background:#0f172a;
font-family:Arial, Helvetica, sans-serif;
margin:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:#f1f5f9;
}

.login-container{
background:#1e293b;
padding:40px;
border-radius:20px;
width:90%;
max-width:400px;
text-align:center;
}

.login-container img{
width:200px;
margin-bottom:20px;
}

input{
width:100%;
padding:14px;
margin-top:12px;
border-radius:10px;
border:none;
}

button{
background:#2563eb;
color:white;
padding:15px;
border:none;
border-radius:10px;
width:100%;
font-size:16px;
font-weight:bold;
}

/* BOTÕES TABELA */

.acoes button{

padding:10px 14px;
font-size:18px;
margin:3px;
border:none;
border-radius:6px;
cursor:pointer;

}

.btn-ver{
background:#3498db;
color:white;
}

.btn-editar{
background:#f39c12;
color:white;
}

.btn-apagar{
background:#e74c3c;
color:white;
}


/* RESPONSIVO PARA TELEMÓVEL */

@media(max-width:700px){

table{
font-size:14px;
}

.acoes button{
padding:12px;
font-size:20px;
}

}